<p>
  test-list works!
</p>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
  <md-card>
    <md-card-header>
      <md-card-title>Add new sport</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="demo-full-width">
        <input mdInput #newSportId placeholder="id" >
      </md-input-container>
      <md-input-container class="label">
        <input mdInput #newSportLabel placeholder="label" >
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <a md-button (click)="createSport()">
        <md-icon mat-grid-avatar>create</md-icon>
        Create
      </a>
    </md-card-actions>
  </md-card>
  <md-card *ngFor="let test of tests | async" class="test-card">
     <md-card-header>
      <img class="mat-card-avatar" src="//lorempixel.com/50/50/">
      <md-card-title>{{test.title}}</md-card-title>
      <md-card-subtitle>{{test.category}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <a md-button [routerLink]="['./', test.id]">
        <md-icon mat-grid-avatar>keyboard_arrow_right</md-icon>
        Take the test
      </a>
      <a md-button >
        <md-icon mat-grid-avatar>share</md-icon>
        Share
      </a>
    </md-card-actions>
  </md-card>
  <ul>
    <li *ngFor="let p of sports | async">
        {{p.id}} - {{p.label}}
    </li>
  </ul>
</div>

<!--<md-grid-list cols="2" [rowHeight]="ratio" gutterSize="4px">
  <md-grid-tile *ngFor="let test of tests | async" [style.background]="'lightblue'" >
    <md-grid-tile-header>
      <md-icon md-grid-avatar>info_outline</md-icon>
      {{test.title}}
    </md-grid-tile-header>
    <p>This is supporting text.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <md-grid-tile-footer>
      <a md-button [routerLink]="['./', test.id]" class="card--media">
        <md-icon md-grid-avatar>keyboard_arrow_right</md-icon>
        Take the test
      </a>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>-->



<!--md-button [routerLink]="['./', test.id]"-->

<!--<ul>
  <li *ngFor="let test of tests | async">

    <a [routerLink]="['./', test.id]" class="card--media">
      <div class="card--media__content">
        {{ test.title }} <span bp-layout="float-right">#{{test.id}}</span>
      </div>
    </a>
  </li>
</ul>-->

<router-outlet></router-outlet>
